doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    include includes/styles.pug
  body
    include includes/navbar.pug

    block content
    block content2

    include includes/scripts.pug